body{
    background-color: rgb(141, 203, 78);
}

table{

  width:100%;
  text-align: center;
}
th{
  width:50%;
}
tr{
  border-bottom: 1px solid rgba(0,0,0,.125);
}
thead{
  font-size:1.2em;
  background-color: #eee9;
}
.btn{
  margin-top:0.5em
}
#aval_gifts{
  max-height:160px;
  overflow-y: auto;
  /* width:100% */
}
.gift_bubble{
  margin:4px;
  border:2px rgb(252, 87, 87) solid;
  padding:2px 6px;
  border-radius: 25px;
}






/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }
  .card-text.gift_name{
    border-bottom:gray 0.5px solid;
  }
  .gift_slot{
    margin-top:.5em;
  }